
.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
    cursor: pointer;
  }

  .container {
    margin: auto;
    width: 95%;
    padding: 10px;
  }

  .action-cell {
    display: flex;
    justify-content: flex-end;
  }

  .demo-button {
    margin-left: 20px;
    margin-top: 20px;
  }

  