<div class="container">
  <div class="demo-button-container">
    <button mat-stroked-button color="primary" class="demo-button">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="add"
      ></mat-icon>
      Add user
    </button>
  </div>
  <mat-table [dataSource]="users">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{ user.id }} </mat-cell>
    </ng-container>

    <!-- Username Column -->
    <ng-container matColumnDef="userName">
      <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{ user.userName }} </mat-cell>
    </ng-container>

    <!-- Password Column -->
    <ng-container matColumnDef="password">
      <mat-header-cell *matHeaderCellDef> Password </mat-header-cell>
      <mat-cell *matCellDef="let user"> ********** </mat-cell>
    </ng-container>

    <!-- Delete Icon Column -->
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef class="action-cell">
        Actions
      </mat-header-cell>
      <mat-cell *matCellDef="let book" class="action-cell">
        <button mat-icon-button color="primary">
          <mat-icon aria-hidden="false" aria-label="Edit icon">edit</mat-icon>
        </button>
        <button mat-icon-button color="warn">
          <mat-icon aria-hidden="false" aria-label="Delete icon"
            >delete</mat-icon
          >
        </button>
      </mat-cell>
    </ng-container>

    <!-- Define the columns to be displayed in the table -->
    <mat-header-row
      *matHeaderRowDef="['id', 'userName', 'password', 'delete']"
    ></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: ['id', 'userName', 'password', 'delete']"
    ></mat-row>
  </mat-table>
</div>
