<mat-toolbar class="toolbar">
  <span class="toolbar-logo" routerLink="/book">Book Managment</span>
  <button mat-button routerLink="/book">Books</button>
  <button mat-button routerLink="/publisher">Publishers</button>
  <button mat-button routerLink="/author">Authors</button>
  <button mat-button routerLink="/user">Users</button>
  <span class="spacer"></span>
  <button mat-button class="sign-in" routerLink="/signin"> <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="login"></mat-icon> Sign In</button>
</mat-toolbar>

<router-outlet></router-outlet>

